body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 37px;
}
.text-header{
    font-size: 35px;
}
.header-color{
    color: rgb(13, 163, 250);
}
.display{
    display: flex;
    margin-bottom: 200px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width img{
    width: 90%;
}
.link-button-one{
    text-decoration: none;
    background-image: linear-gradient(rgb(15, 49, 16),rgb(78, 146, 78));
    padding: 6px 20px;
    color: white;
    border-radius: 5px;
}
.link-button-two{
    text-decoration: none;
    background-image: linear-gradient(rgb(138, 110, 25),rgb(143, 139, 104));
    padding: 6px 20px;
    color: white;
    border-radius: 5px;
}
.link-button-three{
    text-decoration: none;
    background-image: linear-gradient(rgb(13, 163, 250),rgb(44, 102, 236));
    padding: 6px 20px;
    color: white;
    border-radius: 5px;
}
.link-button-four{
    text-decoration: none;
    background-image: linear-gradient(rgb(21, 184, 212),rgb(104, 116, 143));
    padding: 6px 20px;
    color: white;
    border-radius: 5px;
}
.mission-head{
    text-align: center, justify;
}
section{
    text-align: center;
}
.diplay-item{
    box-shadow: 1px 1px 5px gray ;
    border-radius: 5px;
    width: 35%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 10px;
}
.background-one{
    background-color: rgb(227, 252, 252);
}
.background-one img{
    width: 40%;
}
.background-two{
        background-color: rgb(190, 188, 188);
}
.background-two img{
    width: 40%;
}
.background-three{
    background-color: rgb(191, 250, 204);
}
.background-three img{
    width: 40%;
}
.community img{
    width: 82%;
}
.tour-photo{
    background-color: white;
}
.tour-photo img{
    width: 50%;
}
.footer{
    background-color: rgb(37, 37, 37);
    color: white;
    text-align: center;
    font-family: Lobster !important;
}
.text-justify{
    text-align: justify;
}
#border-line{
    border-left: 7px solid;
    border-radius: 10px;
    border-image: linear-gradient(rgb(73, 71, 71),rgb(72, 161, 233)) ;
    border-image-slice: 1;
    
}
.copy-write{
    text-decoration: none;
}